extends single_layout

block content
  h3 Articles
  :marked
    Below, you can find a list of articles curated by the roots core team about interesting uses for roots. If you'd like to submit one of your articles, send us a [pull request](https://github.com/carrot/roots-web/issues)!

  ul#list
    li: a(href='/articles/getting-started')
      h4 Getting Started
      p A guide through the basics of roots
    li: a(href='/articles/upgrading')
      h4 Upgrading from Roots v2
      p A summary of breaking changes and modifications
    li: a(href='/articles/blogs')
      h4 Building Blogs with Roots
      p From simple to complex, a review of static blogs
    li: a(href='/articles/hybrid-static')
      h4 Hybrid Static: A New App Architecture
      p Using roots to mix dynamic and static sites
    li: a(href='/articles/built-with-roots')
      h4 Built With Roots
      p A list of live roots sites and their source code
    li: a(href='/articles/katon')
      h4 Improved Roots workflow with Katon
      p Demonstrating a great tool to add to your static workflow
    li: a(href='/articles/roots-with-gulp')
      h4 Integrating Roots with Gulp
      p Extend Roots functionality with Gulp
    li: a(href='/articles/static-ecommerce-integrating-snipcart-with-roots')
      h4 Static E-Commerce: Integrating Snipcart with Roots
      p A comprehensive how-to post to enable e-commerce on a Roots site using Snipcart’s HTML/JS shopping cart
