extends single_layout

block content
  h3 Documentation
  :markdown
    Roots is a large and complex piece of software that you can do quite a bit with if you dive deep enough. We attempt here to explain every piece as a reference.

  ul#list
    li: a(href='/articles/getting-started')
      h4 Getting Started
      p A guide through the basics of roots
    li: a(href='/docs/configuration')
      h4 Configuration
      p A full reference for the app.coffee file
    li: a(href='/docs/environments')
      h4 Environments
      p For using roots in staging, production, etc.
    li: a(href='/docs/js_api')
      h4 Javascript API
      p Controlling roots programmatically
    li: a(href='/docs/cli')
      h4 Command Line Interface
      p Learn to use roots from the command line
    li: a(href='/docs/extensions')
      h4 Building Extensions
      p Learn how to build a roots extension
