extends single_layout

block content
  h3 Roots Extensions
  :markdown
    A collection of plugins that can be used to extend roots' functionality. To add yours to the list, tag your package with `rootsplugin` as a keyword on npm when you publish it.

  ul
    li: a(href='https://github.com/carrot/roots-dynamic-content')
      h4 Dynamic Content
      p Create pages and collections with Jekyll-style front matter.
    li: a(href='https://github.com/carrot/roots-client-templates')
      h4 Client Templates
      p Precompile view templates to javascript functions
    li: a(href='https://github.com/carrot/roots-js-pipeline')
      h4 JS Pipeline
      p Sprockets-esque javascript pipeline for concat and minification
    li: a(href='https://github.com/carrot/roots-css-pipeline')
      h4 CSS Pipeline
      p Sprockets-esque css pipeline for concat and minification
    li: a(href='https://github.com/carrot/roots-browserify')
      h4 Browserify
      p Use browserify to compile javascript and/or coffeescript
    li: a(href='https://github.com/carrot/roots-records')
      h4 Records
      p Include json from a local or remote source in your templates
    li: a(href='https://github.com/carrot/roots-contentful')
      h4 Contentful
      p Sync json from contentful and compile into your views
    li: a(href='https://github.com/carrot/roots-component')
      h4 Component
      p Compile component packages into your output

