extends layout

block content

  #header
    h1 Roots
    h2 Enlightened Static Sites

    img.light-rays(src='/img/index/light-rays.svg')

    .clouds
      img.c1(src='/img/index/c2.svg')
      img.c2(src='/img/index/c1.svg')
      img.c3(src='/img/index/c2.svg')

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t1.svg', data-depth='0.20')
      img.t2.layer(src='/img/index/t2.svg', data-depth='0.60')
      img.t3.layer(src='/img/index/t3.svg', data-depth='0.40')
      img.t4.layer(src='/img/index/t4.svg', data-depth='0.20')
      img.t5.layer(src='/img/index/t5.svg', data-depth='0.00')

  #intro
    .text
      :markdown
        ### What is Roots?

        Roots is a static site compiler, that generates static html, css, and javascript files. It's very good at helping to build static front-ends. It is sponsored heavily by [Carrot Creative](http://carrot.is), and makes frequent, highly variable builds quicker and easier for freelancers and agencies. It's a truly excellent framework for quickly and easily building small to medium sized front-ends of any kind.

        Roots can handle a huge number of compiled languages, and can be used with many tools that help push static sites as far as possible. For example, it can link with an API, pull in your data, and render parts of it into your views on compile. Then it can render the same or other views as javascript templates and you can push any other data from your API into them on the fly at runtime on the client side in reaction to user actions. And that's just a small taste of its capabilities. You really can do a lot with static sites, and roots is here to push those limits.

        ### Why Use Roots?

        _"So,"_ you might ask, _"Why would I use Roots instead of X, Y, or Z?"_ The short answer is because roots was built very specifically for static site builds, so it's cleaner and better than general purpose build tools, since it's specialized to that purpose. The longer answer is that it's a qualitative thing. Much like people would ask _"Why should I use snapchat when I can just text a photo"_, or _"Why should I use slack when I already have hipchat?"_, there is no logical answer other than that the experience is different, and in my opinion, much better -- tailored exactly to what you need. So just try it, and you just might find that you really like it.

        Most of the time, people ask why they would use Roots over Gulp or Grunt. Everything in the previous paragraph is the answer. Gulp and Grunt are general purpose javascript build tools you can wire together to handle anything, as long as you put in the work and maintain your config file(s). Roots is a framework designed specifically for building static sites. If you are building a static site, Roots will end up being a better experience because it's tailored to that exact purpose, so we make assumptions and take shortcuts in order to make your process smoother. Check out the videos below to see what we're talking about.

    .video
      .stage
        h2 Introduction to Roots
        iframe(src="http://www.youtube.com/embed/2_KwRoWA8Z4?hd=1&rel=0&autohide=1&showinfo=0", frameborder="0", allowfullscreen="true")

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t6.svg', data-depth='0.60')
      img.t2.layer(src='/img/index/t7.svg', data-depth='0.40')
      img.t3.layer(src='/img/index/t8.svg', data-depth='0.20')
      img.t4.layer(src='/img/index/t9.svg', data-depth='0.00')

  #resources

    .more-videos
      h3 More great roots demos &amp; tutorials

      ul.others
        li.active(data-id='2_KwRoWA8Z4')
          img(src='/img/video_thumbs/s1.jpg')
          span Introduction to Roots
        li(data-id='fQq6kWhOSxk')
          img(src='/img/video_thumbs/s2.jpg')
          span Roots Configuration
        li(data-id='OJYO0ZzmFxM')
          img(src='/img/video_thumbs/s3.jpg')
          span Roots Extensions
        li(data-id='cGzkohoTUHc')
          img(src='/img/video_thumbs/s4.jpg')
          span Hybrid Static &amp; APIs
        li(data-id='rOIJ27MFlsY')
          img(src='/img/video_thumbs/s5.jpg')
          span Case Study: Mojotech
        li(data-id='gdWZ0Bpvmw4')
          img(src='/img/video_thumbs/s6.jpg')
          span Wordpress &amp; Roots
        li(data-id='RitO5dyPH44')
          img(src='/img/video_thumbs/s7.jpg')
          span Roots Templates

    ul.links
      li
        a(href='/docs')
          .icon
            img(src='/img/index/docs-icon.svg')
          .text
            h3 Documentation
            p The down and dirty technical specifications on how to use roots and its API.
      li
        a(href='/articles')
          .icon
            img(src='/img/index/tutorials-icon.svg')
          .text
            h3 Articles
            p Articles curated by the roots core team on a variety of different ways that you can use roots.
      li
        a(href='/extensions')
          .icon
            img(src='/img/index/extensions-icon.svg')
          .text
            h3 Extensions
            p A curated gallery of roots extensions, which can be used to add additional functionality to roots.

    .trees
      .anchor.layer
      img.t1.layer(src='/img/index/t10.svg', data-depth='0.40')
      img.t2.layer(src='/img/index/t11.svg', data-depth='0.20')
      img.t3.layer(src='/img/index/t12.svg', data-depth='0.00')

  #footer
    a(href='http://carrot.is'): img.built-at-carrot(src='/img/index/built-at-carrot.svg')
