doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content=description)
    meta(name='author', content=author)
    title= title
    script(src="//use.typekit.net/ick8zlx.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='/css/master.css')
  body(id= _path.match(/(\w+)\.html$/)[1])

    nav
      a.logo(href='/')
        h1 Roots
        h2 enlightened static sites

      .links
        a(href='/docs') documentation
        a(href='/articles') articles
        a(href='/extensions') extensions

      img.light-rays(src='/img/index/light-rays.svg')

      .trees
        .anchor.layer
        img.trees1.layer(src='/img/single/t1.svg', data-depth='0.40')
        img.trees2.layer(src='/img/single/t2.svg', data-depth='0.20')
        img.trees3.layer(src='/img/single/t3.svg', data-depth='0.00')

    main
      .center
        block content

      .trees
        .anchor.layer
        img.t1.layer(src='/img/single/t4.svg', data-depth='0.40')
        img.t2.layer(src='/img/single/t5.svg', data-depth='0.20')
        img.t3.layer(src='/img/single/t6.svg', data-depth='0.00')

    #footer.single
      a(href='http://carrot.is'): img.built-at-carrot(src='/img/single/built-at-carrot.svg')

  script(src="https://d26b395fwzu5fz.cloudfront.net/3.0.9/keen.min.js")
  script(src='/js/build.js')
