doctype html
html
  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='Roots: a modern, powerful, and open source static site generator')
    meta(name='author', content= "Jeff Escalante")
    title Roots: Enlightened Static Sites
    script(src="//use.typekit.net/ick8zlx.js")
    script.
      try{Typekit.load();}catch(e){}
    link(rel='stylesheet', href='/css/master.css')
  body(id= _path.match(/(\w+)\.html$/)[1])

    nav
      .logo
        h1 Roots
        h2 enlightened static sites

      .links
        a(href='#') documentation
        a(href='#') tutorials
        a(href='#') extensions

      .trees
        img.trees1(src='/img/single/trees1.svg')
        img.trees2(src='/img/single/trees2.svg')
        img.trees3(src='/img/single/trees3.svg')

    main
      block content

  script(src='/js/build.js')
