@keyframes rotate
  0%
    transform: rotate3d(0, 0, 1, 0deg)

  100%
    transform: rotate3d(0, 0, 1, 360deg)

@keyframes drift
  from
    transform: translate3d(0, 0, 0)
  to
    transform: translate3d(100vw, 0, 0)
