@keyframes rotate
  0%
    transform: rotate(0deg)

  100%
    transform: rotate(360deg)

@keyframes drift
  0%
    left: -120px
  100%
    left: 100vw

@keyframes drift-reverse
  0%
    left: 100vw
  100%
    left: -120px
