.hljs-class
  
  .hljs-keyword
    color: #B48EAD
  
  .hljs-title
    color: #EBCB83
  
.hljs-function
  color: #B48EAD

.hljs-property
  color: #BF616A

.hljs-attribute
  color: #8AA1B3

.hljs-keyword
  color: #BDB5C0