.hljs-class

  .hljs-keyword
    color: #B48EAD

  .hljs-title
    color: #EBCB83

.hljs-function
  color: #B48EAD

.hljs-property
  color: #BF616A

.hljs-attribute
  color: #BF616A

.hljs-built_in
  color: #8AA1B3

.hljs-keyword
  color: #BDB5C0

.hljs-string
  color: #A3BE8C

.hljs-comment
  color: grey
