.trees
  absolute: bottom -2px left -20px
  height: 137px
  width: 105%

.trees > img
  width: 100%
  background-size: 100% auto
  background-repeat: no-repeat
  absolute: bottom
  display: block
  transform: translate3d(0,0,0)
  top: initial !important
