.trees
  absolute: bottom -2px left -20px
  height: 137px
  width: 105%

.trees > img
  width: 100%
  background-size: 100% auto
  background-repeat: no-repeat
  absolute: bottom
  display: block
  transform: translate3d(0,0,0)
  top: initial !important

#footer
  background: #2D2E50
  height: 130px
  text-align: center

  &.single
    background: #1D1D2E

  img
    margin-top: 50px
