normalize-css()
base()

.center
  center(700px)
  padding: 0 30px

pre
  background: #2E2937
  padding: 20px
  border-radius: 8px
  font-size: 14px
  max-width: 600px
  margin: 25px auto

main
  group()
  height: 100%
  background: linear-gradient(#524E5A, #333351)
  color: #DFDDEE
  font-family: freight-sans-pro
  padding-top: 30px

  h3
    color: #F0DC9E
    font-family: sommet-rounded
    font-size: 1.4em
    margin: .5em 0

nav
  position: relative
  group()
  background: url('/img/single/light-rays.svg') no-repeat, linear-gradient(#EED584, #E9B27B)
  background-size: 100%, auto
  height: 225px
  font-family: freight-sans-pro
  overflow: hidden

  .logo
    float: left
    padding: 25px 30px
    position: relative
    z-index: 2

  h1
    margin: 0
    color: #42425A
    font-size: 2.7em
    font-weight: 600
    upcase()

  h2
    color: #FAEAD1
    font-size: .9em
    font-weight: 500
    margin: 0
    margin-top: -7px

  .links
    float: right
    padding: 40px 30px
    position: relative
    z-index: 2

    a
      text-decoration: none
      color: #F8F5EF
      upcase()
      font-weight: 500
      margin-right: 30px

      &:last-child
        margin-right: 0

  .trees
    absolute: bottom -2px left -2px
    height: 137px
    width: 101%

  .trees > img
    width: 100%
    background-size: 100% auto
    background-repeat: no-repeat
    absolute: bottom

