.center
  center(700px)
  padding: 0 30px

pre
  background: #292A38
  padding: 20px
  border-radius: 8px
  font-size: 14px
  max-width: 600px
  margin: 25px auto

main
  group()
  position: relative
  overflow: hidden
  padding-bottom: 25vw
  height: 100%
  background: linear-gradient(top, #524E5A 0em, #313247 30em)
  color: #DFDDEE
  font-family: freight-sans-pro
  padding-top: 30px

  h3
    color: #F0DC9E
    font-family: sommet-rounded
    font-size: 1.4em
    margin: 1em 0

  a
    text-decoration: none
    color: #F0DC9E
    border-bottom: 1px solid transparent
    transition()

    &:hover
      color: lighten(@color, 20%)
      border-bottom: 1px solid

  p
    line-height: 1.5em
    -webkit-font-smoothing: subpixel-antialiased

  p > code
    color: #C76060
    font-size: .9em

nav
  position: relative
  gradient: #EED584 #E9B27B
  height: 25vw
  font-family: freight-sans-pro
  overflow: hidden
  group()

  +above(1000px)
    height: 23vw

  .light-rays
    absolute: top left
    width: 200%
    margin: -65% 0 0 -50%
    animation: rotate 250s linear infinite

  .logo
    float: left
    padding: 15px 30px
    position: relative
    z-index: 2
    text-decoration: none

  h1
    margin: 0
    color: #42425A
    font-size: 2.7em
    font-weight: 600
    upcase()

  h2
    color: #FAEAD1
    font-size: .9em
    font-weight: 500
    margin: 0
    margin-top: -7px

  .links
    float: right
    padding: 40px 30px
    position: relative
    z-index: 2

    a
      text-decoration: none
      color: #524E5A
      upcase()
      font-weight: 600
      margin-right: 30px
      transition()

      &:last-child
        margin-right: 0

      &:hover
        color: #7E7366
