.center
  center(700px)
  padding: 0 30px
  margin-bottom: 20px

pre
  background: #292A38
  padding: 20px
  border-radius: 8px
  font-size: 14px
  max-width: 600px
  margin: 25px auto

main
  group()
  position: relative
  overflow: hidden
  padding-bottom: 25vw
  height: 100%
  background: linear-gradient(top, #524E5A 0em, #313247 30em)
  color: #ECEAFA
  font-family: freight-sans-pro
  padding-top: 30px
  min-height: 300px

  +below(380px)
    padding-top: 160px

  h3
    color: #F0DC9E
    font-family: sommet-rounded
    font-size: 1.6em
    margin: 1.3em 0

  h5
    color: #F0DC9E
    font-family: sommet-rounded
    font-size: 1em
    margin: 1em 0

  p
    line-height: 1.5em
    font-size: 1.13em
    // -webkit-font-smoothing: subpixel-antialiased

    > code
      color: #9F98CB
      font-size: .9em

  blockquote
    padding-left: 1em
    border-left: 2px solid #eceafa

    +below(440px)
      margin: 0

  p a, li a
    text-decoration: none
    color: #F0DC9E
    border-bottom: 1px solid transparent
    transition()

    &:hover
      color: lighten(@color, 20%)
      border-bottom: 1px solid


nav
  position: relative
  gradient: #EED584 #E9B27B
  height: 25vw
  font-family: freight-sans-pro
  group()

  +above(1000px)
    height: 23vw

  .animations
    position: absolute
    height: 100%
    width: 100%
    overflow: hidden

  .light-rays
    absolute: top left
    width: 200%
    margin: -65% 0 0 -50%
    animation: rotate 250s linear infinite

  .logo
    float: left
    padding: 15px 0 0 30px
    position: relative
    z-index: 2
    text-decoration: none

    +below(365px)
      padding: 5px 0 0 30px

    +below(340px)
      padding: 5px 0 0 15px

  h1
    margin: 0
    color: #42425A
    font-size: 2.7em
    font-weight: 600
    upcase()

  h2
    color: #FAEAD1
    font-size: .9em
    font-weight: 500
    margin: 0
    margin-top: -7px

  .links
    float: right
    padding: 40px 30px
    position: relative
    z-index: 2

    +below(606px)
      position: absolute
      top: 110px
      padding: 40px 30px

    +below(500px)
      top: 100px

    +below(460px)
      padding: 30px

    +below(425px)
      padding: 25px 0 0 30px

    +below(400px)
      padding: 10px 0 0 30px

    +below(380px)
      width: 60%
      left: 50%
      margin-top: 23px
      padding: 0
      transform: translate(-50%, 0)
      border-radius: 10px

    +below(345px)
      margin-top: 13px

    a
      text-decoration: none
      color: #524E5A
      upcase()
      font-weight: 600
      margin-right: 30px
      transition()

      +below(606px)
        color: #FAEAD1

      +below(410px)
        margin-right: 25px

      +below(380px)
        display: block
        margin-right: 0
        padding: 10px 20px
        background: rgba(0, 0, 0, 0.25)
        border-bottom: 1px solid rgba(0, 0, 0, 0.25)

        &:first-child
          border-radius: 4px 4px 0 0

      &:last-child
        margin-right: 0

        +below(380px)
          border-bottom: 0
          border-radius: 0 0 4px 4px

      &:hover
        color: #7E7366
