extends ../views/single_layout

block content
  h3 Built With Roots

  :marked
    This article serves as a simple place where you can find examples of sites that were built using roots. Many of these are open source, which can provide tips and inspiration on unique ways to structure your own build.

    If you built a website using roots and want to show it off, [make a pull request](https://github.com/carrot/roots-www) and add it to this article!

    - https://roots.cx ([source](https://github.com/carrot/roots-www))
    - https://carrot.is (closed source for now)
    - http://mojotech.com ([source]())
    - http://slang.cx ([source](https://github.com/slang800/slang.cx))
    - http://axis.netlify.com ([source](https://github.com/jenius/axis-www))
    - http://curemap.org ([source](https://github.com/ccsouthard/curemap))
    - http://globtester.com ([source](https://github.com/carrot/globtester))
    - http://worldtripp.in (closed source for now)
    - http://edit.sx (v2 - [source](https://github.com/samccone/edit.sx-frontend))
    - http://jeet.gs (v2 - [source](https://github.com/mojotech/jeet/tree/gh-pages))
    - http://complexible.com ([source](https://github.com/complexible/www))
    - https://androidhub.intel.com ([source](https://github.com/intel-android/androidhub))
    - http://samsmith.name (closed source for now)
    - http://www.thecoveattiburon.com (closed source for now)
    - http://www.olivarioliveoil.com (close source for now)
    - http://www.earlylightmedia.com ([source](https://github.com/earlylightmedia/elm))
    - http://www.kabashi2.com (closed source for now)
    - https://www.edinabazi.com ([source](https://github.com/edinchez/edinabazi.com))